body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 40px; /* Increased padding */
    border-radius: 12px; /* Slightly rounder corners */
    box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Slightly bigger shadow */
    width: 650px; /* Increased width for larger box */
}

input[type="text"] {
    width: 65%; /* Adjust width for the input field */
    padding: 10px;
    margin-right: 10px; /* Add space between input and button */
    margin-top: 10px;
    font-size: 16px; /* Larger text size */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust button text size */
}

button:hover {
    background-color: #3700b3;
}

.link-input-container {
    display: flex; /* Flexbox to align input and button */
    justify-content: center; /* Center the input and button */
    align-items: center; /* Vertically align the elements */
}

#statusMessage {
    margin-top: 20px;
    font-size: 14px;
    color: green;
}

h1 {
    font-size: 24px; /* Adjust heading size */
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}
